<% provide(:title, "Login") %>
<div class="center"> 
<h1>Login</h1>
<p>Email</p>
<input> </input>
<p>Password</p>
<input> </input>
</br>
</br>
<button>Login</button>
</br>
</br>
<p>New user?
<a href="#">Sign up</a>.
</p>
</div>